.rbc-event {
    background-color: #6E82FF !important; /* สีพื้นหลัง */
    color: #FFFFFF !important; /* สีตัวอักษร */
    border-radius: 5px; /* มุมโค้ง */
    padding: 5px; /* ระยะห่างภายใน */
    border: none; /* ลบเส้นขอบ */
}

.custom-day-cell {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    position: relative;
  }

/* เปลี่ยนสีพื้นหลังของหัวข้อวัน */
.rbc-day-slot .rbc-header {
    background-color: #6E82FF; /* สีพื้นหลัง */
    color: #FFFFFF; /* สีตัวอักษร */
    font-weight: bold; /* ตัวอักษรหนา */
    text-align: center; /* จัดกึ่งกลางตัวอักษร */
    padding: 10px; /* ระยะขอบด้านใน */
    border-right: 1px solid #ffffff; /* เส้นขอบระหว่างวัน */
  }
  
  .rbc-header:first-child {
    border-left: 1px solid #ffffff; /* เพิ่มเส้นขอบซ้ายสำหรับวันแรก */
  }
  